.container{
    /* border: 1px solid black; */
    width: 60%;
    margin: 120px 0px 0px 350px;
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    grid-template-rows: 80px repeat(2,150px) 100px;
    grid-gap: 20px 10px;
    grid-template-areas: "a a a"
                         "b c c"
                         "b d f"
                         "e e e";
    
}
.container > div {
    /* border: 1px solid black; */

}
.container > div:nth-child(1){
    /* background-color: linear-gradient(red,green); */
    background: linear-gradient(to bottom right, rgb(35, 44, 143), rgb(154, 159, 219));
    grid-area: a;
}
.container > div:nth-child(2){
    background-color: rgb(57, 139, 129);
    grid-area: b;

}
.container > div:nth-child(3){
    /* background-color: li */
    background: linear-gradient(to bottom right,rgb(0, 8, 255) ,rgb(108, 108, 127));

    grid-area: c;

}
.container > div:nth-child(4){
    /* background-color:  violet; */
    background: linear-gradient(to bottom right,blue ,rgb(108, 108, 127));

    grid-area: d;

}
.container > div:nth-child(5){
    background: linear-gradient(to bottom right, rgb(35, 44, 143), rgb(154, 159, 219));

    grid-area: e;

}
.container > div:nth-child(6){
    /* background-color: palevioletred; */
    background: linear-gradient(to bottom right,blue ,rgb(108, 108, 127));

    grid-area: f;

}
